/* reset styles */
/* @import-normalize; */
@import url('./normalize.css');

:root {
  --font-size-l: calc(10px + 2vmin);
  --font-size-xl: calc(10px + 3vmin);

  --color-malibu: #61dafb;
  --color-shark: #282c34;
  --color-white: #fff;
  --color-red-light: #f2777a;
  --color-bright-red: #ad0011;
  --color-york: #92d192;
  --color-lead:#202020;
  --color-shaft: #242424;
  --color-carbon: #2d2d2d;
  --color-old-rose: #ba776d;

}
*,
::after, 
::before  {
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
._container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
._container_grow {
  flex-grow: 1;
}

._wrapper {
  max-width: 1000px;
  padding: 30px 15px;
  margin: 0 auto;
}
