.input-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2%;
    @media screen and (max-width: 550px) {
        grid-template-columns: auto;
        grid-gap: 25px 0;
    }
}
.form__input {
    width: 100%;
    border: none;
    border-radius: 18px;
    font-size: var(--font-size-l);
    text-align: center;
    background-color: var(--color-white);
    &:focus {
        outline: none;
        color: var(--color-lead);
    }
    &_answer_wrong {
        background-color: var(--color-red-light);
    }
    &_answer_right {
        background-color: var(--color-york);
    }
}
.answer {
    height: var(--font-size-xl);
    margin: 20px 0;
    font-size: var(--font-size-xl); 
    color: var(--color-bright-red);
}