.header {
    display: flex;
    align-items: center;
    /* height: var(--size-l); */
    /* padding: 20px 0; */
    padding: 1.2em 0;
    background-color: var(--color-good-gray);
}

.list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.list__item:not(:last-child) {
    margin-right: 20px;
}
.link {
    text-decoration: none;
    color: var(--color-malibu);
    transition: color .2s;
}
.list__item :global(a.active) {
    color: var(--color-old-rose);
}