.sidebar {

}
.sidebar__container {
    height: 100vw;
    width: 300px;
    background-color: var(--color-lead);
}
.sidebar__container_min {
    width: 50px;
}
.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar__logo {
    display: none;
}
.sidebar__logo_active {
    display: block;
}
.sidebar__bars {
    position: relative;
    width: 20px;
    height: 20px;
    /* z-index: 5;  */
    cursor: pointer;
}
.sidebar__bars_min {
    margin: 0 auto;
}
.sidebar__bars::before,
.sidebar__bars::after,
.sidebar__bars-item {
    position: absolute;
    left: 0;
    height: 2px;
    transition: all .2s;
    background-color: greenyellow;
}
.sidebar__bars::before,
.sidebar__bars::after {
    content: '';
    width: 100%;
}
/* menu opened */
.sidebar__bars-item {
    top: 50%;
    transform: scale(0) translateY(-50%);
}
.sidebar__bars::before {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
}
.sidebar__bars::after {
    bottom: 50%;
    transform: rotate(45deg) translateY(50%);
}
/* menu closed */
.sidebar__bars_min.sidebar__bars::before {
    top: 0;
    transform: rotate(0deg);
}
.sidebar__bars_min.sidebar__bars::after {
    bottom: 0;
    transform: rotate(0deg);
}
.sidebar__bars_min .sidebar__bars-item {
    transform: scale(1) translateY(-50%);
}

.sidebar__menu {

}
/* .sidebar__list {
    list-style-type: none;
}
.sidebar__list-item {

}
.sidebar__link,
.sidebar__link_active {
    font-size: var(--font-size-m);
    text-decoration: none;
}
.sidebar__link {
    color: var(--color-malibu);

}
.sidebar__link_active {
    color: var(--color-old-rose);
} */
