.exercises {

}
.exercises__container {
    display: flex;
}
.exercises__sidebar {
    position: fixed;
    top: 4.4em;
    bottom: 0;
    background-color: var(--color-lead);
}
.exercises__content {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex-basis: 100%;
    padding-left: 5.5em;
}