.exercises {

}
.exercises__container {
    display: flex;
}
.exercises__sidebar {
    position: fixed;
    top: 3.55em;
    bottom: 0;
}
.exercises__content {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex-basis: 100%;
    padding-left: 5.5em;
}