.exercises {

}
.exercises__container {
    display: flex;
}
.exercises__sidebar {
    position: relative;
    top: -30px;
}
.exercises__content {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 20px;
}