.app {
  /* text-align: center; */
}

.app__container {
  background-color: var(--color-shark);
  /* #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: var(--font-size-l);
  color: var(--color-white);
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
