.tooltip {
    position: relative;
    &__item {
        position: absolute;
        width: auto;
        padding: 3px 5px;
        border-radius: 3px;
        overflow: hidden;
        color: var(--color-old-rose);
        font-size: 12px;
        box-sizing: border-box;
        background-color: var(--color-gallery);
        opacity: .9;
        box-shadow: 1px 1px 10px var(--color-agart);
        z-index: 9999;
        &_position_top {
            bottom: 130%;
            transform: translateX(-50%);
            left: 50%;
        }
        &_position_bottom {
            top: 130%;
            transform: translateX(-50%);
            left: 50%;
        }
        &_position_right {
            left: 130%;
            transform: translateY(-50%);
            top: 50%;
        }
        &_position_left {
            right: 130%;
            transform: translateY(-50%);
            top: 50%;
        }
    }
    &__target {
        cursor: pointer;
    }
}
